<!DOCTYPE html>
<html>
<head>
    <title>Data Ingestion Platform</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
    <h1>Data Ingestion Platform</h1>

    <form method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <button type="submit">Validate Data</button>
    </form>

   <div id="expectedSchema">
        <h2>Expected Schema</h2>
        <table id="schemaTable" class="previewTable">
            <thead>
                <tr>
                    <th>Column Name</th>
                    <th>Data Type</th>
                </tr>
            </thead>
            <tbody>
                {% for column_name, column_type in schema %}
                <tr>
                    <td>{{ column_name }}</td>
                    <td>{{ column_type.__name__ }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="preview">
        <h2>Preview</h2>
        <table id="previewTable" class="previewTable">
            <thead>
                {% if preview %}
                    <tr>
                        {% for header in preview[0] %}
                            <th>{{ header }}</th>
                        {% endfor %}
                    </tr>
                {% endif %}
            </thead>
            <tbody>
                {% if preview %}
                    {% for row in preview[1:] %}
                        <tr>
                            {% for cell in row %}
                                <td>{{ cell }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>

    {% if error %}
        <div id="validationResult"><h2>Validation Result</h2>{{ error }}</div>
    {% elif validationResult %}
        <div id="validationResult"><h2>Validation Result</h2>{{ validationResult }}</div>
    {% endif %}
</body>
</html>
