body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-color: #F9F9F9;
    color: #5C4B3A;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #3B3C36;
}

form {
    margin-bottom: 30px;
    text-align: center;
    padding: 20px;
    background: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="file"], select {
    margin-bottom: 15px;
    padding: 12px;
    border: 1px solid #3B3C36;
    border-radius: 5px;
    width: 70%;
    background-color: #F9F9F9;
    color: #5C4B3A;
    font-size: 16px;
}

button {
    padding: 12px 24px;
    background-color: #3B3C36;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #A8C3A0;
}

#validationResult {
    margin-bottom: 30px;
    padding: 15px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 8px;
    text-align: center;
}

#expectedSchema {
    margin-bottom: 30px;
    padding: 15px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 8px;
}

#expectedSchema h2 {
    margin-top: 0;
    color: #666;
}

#expectedSchema ul {
    list-style-type: none;
    padding: 0;
}

#expectedSchema li {
    margin-bottom: 8px;
}

#preview, #expectedSchema {
    overflow-x: auto;
}

.previewTable {
    border-collapse: collapse;
    width: 100%;
}

.previewTable th,
.previewTable td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

.previewTable th {
    background-color: #3B3C36;
    color: #FFFFFF;
}

.previewTable tr:nth-child(even) {
    background-color: #f9f9f9;
}
